body{
	background-color: #EFFFFE;
	overflow-x: hidden;
}

.outer-box{
	position: relative; 
	top:60px; 
	left:80px; 
	background-color: #E9FFEB; 
	width:255px; 
	height:180px; 
	border-radius: 8px; 
	box-shadow: 2px 5px 28px -11px rgba(0,0,0,0.75);
}

.header-box{
	position: absolute; 
	background-color: #FF7F50; 
	width:255px; 
	height:45px;     
	border-top-left-radius:8px; 
	border-top-right-radius:8px;
}

.header-text{
	color:#fff;
	font-family:arial; 
	position: absolute; 
	left:75px;
	top:10px; 
	font-size: 21px
}

.options{
	position: relative; 
	left:70px; 
	top:20px; 
	font-size: 19px
}

.all{
	
	background-color: orange;
	width: 250px;
	height: 200px;
	display: inline-block;
            
}

.blc{

	position: relative;
	top: -20px;
	background-color: pink;
	 
}

.roombox{
	background-color: white; 
	width:280px; 
	height:290px; 
	margin-right: 1800px;
	margin-bottom: 40px;
	border:1px solid #69E7FF;

}

.boxhotnm{
	position: relative;
	top: 7px;
	left: 10px;
	color:#8B4513; 
	font-weight: bold;
	font-size: 22px;
}

